{% load static %}
<head>
	<!-- default metadata -->
	<title>Semeon Risom | invitae challenge</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="Invitae Variant Search Coding Assignment"/>
	<!-- indexing -->
	<meta name="robots" content="noindex,nofollow">
	<meta name="googlebot" content="noindex,nofollow">
	<!-- google metatags -->
	<meta itemprop="name" content="Semeon Risom | invitae challenge">
	<meta itemprop="description" content="Invitae Variant Search Coding Assignment">
	<!-- facebook metatags -->
	<meta property="og:title" content="Semeon Risom | invitae challenge">
	<meta property="og:description" content="Invitae Variant Search Coding Assignment">
	<meta property="og:type" content="website">
	<!-- twitter metatags -->
	<meta name="twitter:title" content="Semeon Risom | invitae challenge">
	<meta name="twitter:description" content="Invitae Variant Search Coding Assignment">
	<meta name="twitter:card" content="summary_large_image">
	<!-- external assets -->
	<link rel="stylesheet" type="text/css" href="{% static './invitae/css/main.css' %}">
	<!-- datatables -->
	<link rel="stylesheet" type="text/css" href="{% static './invitae/css/datatables/dataTables.bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static './invitae/css/datatables/responsive.bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static './invitae/css/datatables/buttons.bootstrap.min.css' %}">
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/jquery/jquery-3.2.1.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/jquery/jquery-ui.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/dataTables.rowsGroup.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/dataTables.rowGroup.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/dataTables.bootstrap.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/dataTables.buttons.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/buttons.bootstrap.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/dataTables.responsive.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/responsive.bootstrap.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/buttons.html5.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/datatables/jszip.min.js' %}"></script>
	<!-- momentjs -->
	<script type="text/javascript" language="javascript" src="{% static './invitae/js/moment.js' %}"></script>
</head>
<body>
	<main>
		<section class="section-container">
			<table id="table" data-file="diff_stim_error" class="table onset table-striped table-bordered hover dt-responsive nowrap" cellspacing="0" width="100%"></table>
		</section>
	</main>
</body>
<footer>
	<script type="text/javascript">
		$(document).ready(function () {
			// event listeners
			$('.query>label').on('click touch', function (event) {
				$('.form-control.form-select', $(this).parent()).toggleClass('hidden');
			});
			// init
			var getTable = function() {
				//row group
				//https://datatables.net/extensions/rowgroup/
				var table = $('#table').DataTable({
					order: [[0, 'desc']],
					lengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
					//testing start
					serverSide: true,
					ajax: {
						url: "/api/variants/?format=datatables",
						type: 'GET',
						data: function (d) {
							// check if any inputs have data
							var inputData = $('input.filter-query').filter(function () { return $(this).val(); }).length > 0;
							if (inputData) {
								var input = {};
								$('input.filter-query').each(function () {
									input[$(this).attr("name")] = $(this).val();
								});
								return $.extend({}, d, {
									"filter": input,
									"sortColumn": d.columns[d.order[0].column].data,
									"sortDir": d.order[0].dir
								});
							// no inputs have data
							} else {
								return $.extend({}, d, {
									"filter": null,
									"sortColumn": d.columns[d.order[0].column].data,
									"sortDir": d.order[0].dir
								});
							}
						}
					},
					columns: [
						{ data: "gene", title: "Gene" },
						{ data: "last_evaluated", title: "Last Evaluated", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else if(type === "sort" || type === "type"){
									return data;
								} else {
									return new moment(data).format("YYYY-MM-DD");
								}
							} 
						},
						{ data: "last_updated", title: "Last Updated", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else if(type === "sort" || type === "type"){
									return data;
								} else {
									return new moment(data).format("YYYY-MM-DD");
								}
							} 
						},
						{ data: "nucleotide_change", title: "Nucleotide Change", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							} 
						},
						{ data: "protein_change", title: "Protein Change", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "other_mappings", title: "Other Mappings", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "alias", title: "Alias", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "transcripts", title: "Transcripts", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "region", title: "Region", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "reported_classification", title: "Reported Classification", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "inferred_classification", title: "Inferred Classification", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "source", title: "Source" },
						{ data: "url", title: "URL", className: "url",
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<a data-toggle="tooltip" title="' + data + '" href=' + data + '>' + data + '</a>';
								}
							}
						},
						{ data: "submitter_comment", title: "Submitter Comment", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "assembly", title: "Assembly" },
						{ data: "chr", title: "Chr" },
						{ data: "genomic_start", title: "Genomic Start" },
						{ data: "genomic_stop", title: "Genomic Stop" },
						{ data: "ref", title: "Ref", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "alt", title: "Alt", 
							render: function (data, type, row) {
								if (data == null) {
									return null;
								} else {
									return '<span data-toggle="tooltip" title="' + data + '">' + data + '</span>';
								}
							}  
						},
						{ data: "accession", title: "Accession" },
						{ data: "reported_ref", title: "Reported Ref" },
						{ data: "reported_alt", title: "Reported Alt" },
					],
					processing: false, //client-side visual of processing queue
					searching: true,
					paging: true,
					info: false,
					lengthChange: false,
					responsive: true,
					autoWidth: false,
					orderCellsTop: true,
					fixedHeader: false,
					ordering: true,
					aaSorting: [],
					exportOptions: {
						rows: ':visible'
					},
					dom: 'BHtrp', // remove searchbar
					buttons: [
						{ text: 'Export', extend: 'csv', title: new moment(new Date).toISOString() },
						{ className: "filter", text: '', action: function (e, dt, node, config) { $('tr.filter').toggleClass('active'); }}
					],
					initComplete: function (settings) {	
						// column filtering
						var filter = $('#table thead tr').clone().off();
						// add class
						filter.addClass('filter');
						// remove sort from new row
						filter.find('th').removeClass("sorting");
						// add new rowspan
						filter.find('th').attr('rowspan', "2").attr('tabindex', "1");
						// add to table
						filter.appendTo('#table thead');
						// for each column
						$('#table thead tr:eq(1) th').each(function (i) {
							var title = $(this).text();
							$(this).html('<input class="filter-query" type="text" name="' + title + '"/>');
							$('input', $(this)).on('input', function (event) {
								if (table.column(i).search() !== this.value) {
									table.column(i).search(this.value).draw();
								}
							});
						});
					}
				});
			}();
		});
	</script>
</footer>
</html>